

.storyrevers{
    display: flex;
    flex-direction: row-reverse;
}
.textppsol{
    font-size: 20px;
    width: 60%;
}

.left_story {
    height: 400px;
}
.left_story img{
    height: 400px;
    width: 100%;
}
.right_story {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btncon_story{
    display: inline-block;
    width: 200px;
}
.nn{
    display: flex;
    align-items: center;
    margin-top: 40px;
}


@media (max-width:1026px) {
    .story{
        flex-direction: column-reverse;
    }
    .left_story {
        height: 400px;
        width: 100%;
    }
    .right_story{
        width: 100%;
    }

}
@media (max-width:500px) {
    .story{
        flex-direction: column-reverse;
        padding: 10px;
    }
    .left_story {
        height: 200px;
        width: 100%;
    }
    .left_story img{
        height: 200px;
        width: 100%;
    }
    .right_story{
        width: 100%;
    }
    .btncon_story{
        margin: auto;
        margin-top: 20px;
    }
    .textppsol{
        font-size: 20px;
        width: 90%;
    }
    .nn{
        display: flex;
        align-items: center;
        margin-top: 0px;
    }

}