@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400&display=swap');

*{
  font-family: 'Almarai', sans-serif ;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: #173587;
   
}

/* ///////////////////////////////////// */

body{
    margin: 0;
    padding: 0;

}
.body.active{
    position:absolute;
  width:100%;
  overflow-y:hidden;
  top:0;
  bottom:0;
}
.navheder{
    background-color: #173587;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    color: #fff;
    z-index: 44;
    position: relative;
}
.leftnavhed{
    display: flex;
    align-items: center;
    gap: 30px;
}
.hednav{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row-reverse;
}
.hednav p{
    margin-top: 16px;
}
.rightnavhed{
    display: flex;
    gap: 15px;
    align-items: center;
}


@media (max-width: 1000px ){

    .navheder{
        display: none;
    }
}


.navv{
    display: flex;
    background-color: rgba(0, 0, 0, 0.61) ;
    padding: 5px 60px;
    color: #fff;
    z-index: 88;
    position: absolute;
    align-items: center;
    width: 100%;
    gap: 150px;
}
.menu_nav{
    display: flex;
    gap: 30px;
    padding-top:20px ;
}
.menu_nav li{
    list-style: none;
}
.menu_nav a{
    text-decoration: none;
    color: #fff;
}
.navv .logo img{
    width: 160px;
    position: relative;
    z-index: 33;
}
.icon_menu{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: none;
    cursor: pointer;
    font-size: 30px;
    padding-right: 5px;
}
.close_menu{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: none;
    cursor: pointer;
    font-size: 30px;
    padding-right: 5px;
}

.active a{
    color: #6381D4;
}
@media (max-width:1200px) {
    .navv{
        gap: 0px;
    }
    
}
@media (max-width:1060px) {
   .menu_nav{
    display: none;
    transform: translateY(100px);
   }
   .navv{
    gap: 0px;
    justify-content: space-between;
    }
    .icon_menu{
    display: block;
    } 
    .close_menu.active{
        display: block;
        position: absolute;
        z-index: 44;
        left: 60px;
    }
    .menu_nav.active{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.973);
        width: 100%;
        height: 100vh;
        transform: translateY(0px);
        transition: all .3s ease;
        overflow-y: hidden;
    }
   

}
@media (max-width:555px) {
    .navv{
        padding: 20px;
    }
    .navv .logo img{
        width: 110px;
        position: relative;
        z-index: 33;
    }
    .close_menu.active{
        display: block;
        position: absolute;
        z-index: 44;
        left: 20px;
    }
}

/* ////////////////////////////// search ////////////////////////////////// */
.search-box{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 15px;
    left: 60px;
  }
  @media (max-width:1060px) {
    .search-box{
        display: none;
    }
    
 }
  .input-search{
    height: 40px;
    width: 40px;
    border-style: none;
    font-size: 15px;
    outline: none;
    border-radius: 50%;
    transition: all .5s ease-in-out;
    background-color: #173587;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 15px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: -5px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-search:focus ~ .input-search{
    width: 200px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);

  }
  .input-search:focus{
    width: 210px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  

/* //////////////////////// */

.imgheder{
    width: 100%;
    position: relative;
    top: 0px;
    height: 100vh;
    object-fit: cover;
    object-position: center center;
    overflow: hidden;
}
.imgheder img{
    width: 100%;
    height: 100vh;
    position: relative;
    transform:rotateY(180deg);
    object-fit: cover;
    object-position: center center;
}


/* ///////////////////////textheder////////////////////////// */

.textheder{
    position: absolute;
    z-index: 33;
    right: 80px;
    top: 240px;
    color: #fff;
    line-height: 100%;

}
.textheder .naldaan{
    font-size: 50px;
}
.textheder h1{
    font-size: 60px;
    font-weight: 600;
}

.btn_text_heder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    background-color: #173587;
    width: 200px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btn_text_heder img{
    padding-bottom: 5px;
}
/* ///////////////////////card_heder_dawn////////////////////// */

.heder_img_dawn{
    position: absolute;
    z-index: 33;
    bottom: 0;
    display: flex;
    padding: 40px;
    background-color: #00000077;
    color: #fff;
    width: 100%;
    gap: 100px;
}
.our_values {
    line-height: 30%;
    width: 10%;
}
.our_values p{
    font-size: 50px;
    font-weight: 100;
}
.our_values h1{
    font-size: 60px;
    font-weight: 500;
}
.cards_heder_dawn{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.card_heder_dawn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ///////////////////////////story////////////////////////////////// */

.story{
    display: flex;
    padding: 10px 60px;
    gap: 30px;
    margin-bottom: 40px;
}
.right_story{
    width: 50%;
}
.right_story h1{
    color: #173587;
    font-weight: 200;
    margin-bottom: 20px;
}
.right_story h1 span{
    font-weight: 600;
}
.left_story{
    width: 50%;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.left_story img{
    width: 100%;
    height: 300px;
    position: absolute;
    object-fit: cover;
    object-position: center center;
}
.btncon_story{
    background-color: #173587;
    color: #fff;
    display: inline-block;
    padding: 15px 40px;
    margin-top: 20px;
    border-radius: 4px;
}
.btncon_story a{
    text-decoration: none;
    color: #fff;
}
.btncon_story a:hover{
    color: #fff;
}

/* /////////////////////////////////////////////////////////////// */
.composite_solutions{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}
.textpcom{
    text-align: center;
    width: 40%;
}
@media (max-width:1100px) {
    .textpcom{
        width: 80%;
    }
}
@media (max-width:500px) {
    .textpcom{
        width: 95%;
    }
}


.img_composite_sol{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img_com_sol{
    width: 271px;
    height: 270px;
    background-color: #6381D4;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.img_com_sol:hover h5{
    transform: translateY(-30px);
    transition: all .4s ease;
}
.img_com_sol:hover {
    
}
.img_com_sol img{
    width: 280px;
    height: 280px;
    position: relative;
    object-fit: cover;
    object-position: center center;
}
.img_com_sol h5{
    position: absolute;
    z-index: 44;
    bottom: 7px;
    right: 15px;
    color: #fff;
    transition: all .4s ease;
}


/* //////////////////////////////////////// */
/* //////////////footer/////////////////// */
.footer{
    display: flex;
    padding: 20px 80px;
    background-color: #173587;
    justify-content: space-between;
    align-items: center;

}
.footer ul{
    display: flex;
    gap: 60px;
}
.footer li{
    list-style: none;

}
.footer a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.footer a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.footer .rightnavhed{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer > img{
    width: 150px;
}

@media (max-width:1090px) {
    .footer{
        padding-top: 50px;
        gap: 20px;
        flex-direction: column-reverse;
    }
    .footer .rightnavhed{
        display: none;
    }
}
@media (max-width:914px) {
    .footer{
        padding: 0;
        padding-top: 50px;
        gap: 10px;
        flex-direction: column-reverse;
    }
    .footer .rightnavhed{
        display: none;
    }
    .footer ul{
        display: flex;
        gap: 30px;
    }
}
@media (max-width:605px) {
    .footer .rightnavhed{
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
    .footer ul{
        display: none;
    }
    .footer{
       position: relative;
       bottom: 0;
       padding-bottom: 20px;
    }
    .footer > img{
        width: 130px;
    }

}


.halloal{
    height: 100vh;
  }
  .mySwiper1{
    width: 100%;
    position: absolute;
    top: 0;
    height: 100vh;
  }
  
  .composite_solutions .swiper{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
  }

  .swiper-pagination{

  }

  /* .card_clent {
    width: 200px;
    height: 200px;
  } */
  
  .card_clent img{
    width: 200px;
    height: 200px;
  }

  /* .swiper-pagination{
    margin-top: 50px;
  } */
  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 20px var(--swiper-pagination-bullet-horizontal-gap,4px);
}

.flexdei{
    display: flex;
    gap: 20px;
}
.imgescard{
    display: flex;
    flex-wrap: wrap;
}
.imgcompp{
    width: 400px;
    overflow: hidden;
}
.imgcompp img{
    width: 400px;
    overflow: hidden;
}